.header {
  background-color: $light-text-color;
  border-bottom: 1px solid #000;

  .header__container {
    width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(205px, auto) 1fr minmax(160px, auto) minmax(158px, auto);
  }

  .header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #000;
    padding-top: 6px;
    padding-left: 13px;
  }

  .header__nav {
    display: flex;
    align-items: center;
    border-right: 1px solid #000;
    padding: 18px 43px;
  }

  .header__laern {
    font-size: 16px;
  }

  .header__user-list {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // border-right: 1px solid #000;
  }
}
