.nav {
  .nav__list {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;
  }

  .nav__item:not(:last-of-type) {
    margin-right: 20px;
  }

  .nav__link {
    font-family: Inter;
    font-size: 18px;
    font-weight: 800;
  }
}

.nav_color {
  color: $light-text-color;
}
