.audio {
  .audio__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .audio__info {
    padding: 54px 224px 70px 0;
  }

  .audio__title {
    font-size: 50px;
    font-family: Roboto;
    font-weight: 400;
    margin: 0;
    line-height: 106%;
    margin-bottom: 38px;
    max-width: 330px;
  }

  .audio__text {
    margin: 0;
    margin: 0 0 112px;
    font-size: 18px;
    line-height: 26px;
  }

  .audio__picture {
    display: flex;
    align-items: center;
    padding-left: 87px;
    border-left: 1px solid $dark-text-color;

  }

  .audio__img {
    object-fit: cover;
  }
}
