.information {
  background-color: $dark-text-color;
  color: $light-text-color;

  .information__info {
    padding: 57px 240px 60px 50px;
    border-left: 1px solid $light-text-color;
  }

  .information__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .information__title {
    font-size: 57px;
    font-family: Roboto;
    font-weight: 400;
    margin: 0;
    line-height: 140%;
    margin-bottom: 26px;
  }

  .information__text {
    margin: 0;
    margin: 0 0 112px;
  }

  .information__picture {
    display: flex;
    align-items: center;
  }

  .information__img {
    object-fit: cover;
  }
}
