.partner {
  .partner__info {
    max-width: 450px;
    padding: 80px 28px 100px 0;
  }

  .partner__list {
    @include reset-list;
    display: grid;
    grid-template-columns: repeat(4, 125px);
    padding: 0 0 0 145px;
    margin-top: -16px;
    border-left: 1px solid $dark-text-color;
    grid-auto-rows: 74px;
    row-gap: 50px;
    align-content: center;
  }

  .partner__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .partner__title {
    font-size: 56px;
    font-family: Roboto;
    font-weight: 400;
    margin: 0;
    line-height: 120%;
    margin-bottom: 37px;
  }

  .partner__title-small {
    font-size: 49px;
  }

  .partner__text {
    margin: 0;
    font-size: 16px;
    padding-right: 70px;
    line-height: 142%;
  }
}
