.quote {
  background-color: $bg-quote;
  padding: 124px 0 154px;

  .quote__container {
    width: 690px;
    padding: 0
  }

  .quote__list {
    @include reset-list;
    margin: 0 auto;
    background-color: $light-text-color;
    border: 1px solid $dark-text-color;
    border-radius: 8px;
  }

  .quote__item {
    padding: 73px 50px 45px 160px;
    background-image: url('../img/quotes.svg');
    background-repeat: no-repeat;
    background-position: 45px 45px;

  }

  .quote__blockquote {
    margin: 0;
    font-size: 17px;
    margin-bottom: 21px;
  }

  .quote__footer {
    display: flex;
    grid-template-columns: 63px auto;
    column-gap: 20px;
    align-items: center;
  }

  .quote__rank {
    margin: 0;
    line-height: 1.25;
    font-size: 13px;
  }

  .quote__autor {
    font-style: normal;
  }

  .partner__nav {
    display: flex;
    justify-content: end;
    padding-right: 21px;
    margin-top: 7px;

    .partner__right-turn,
    .partner__left-turn {
      border: none;
      background-color: inherit;
      fill: none;
      cursor: pointer;
      display: flex;
      align-items: center;
    }

    .partner__right-turn {
      transform: rotate(180deg);
      margin-left: 11px;
    }
  }


}
