$dark-text-color: #202020;
$light-text-color: #FFFDF8;

$bg-quote: #D9D9D9;
$btn-color: #B8A4FD;
$btn-hover: #BDDEFD;

$title-font-size: 110px;
$sub-title-font-size: 50px;
$small-font-size: 16px;
$large-font-size: 18px;
$line-heght: 25.2px;
