section.audio
	.audio__info
		h2.audio__title We’ll read the text *for you*
		p.audio__text Whether you learn better by listening or on the move, Upword has your back. Our text-to-speech engine automatically transforms text to audio, making it easy to consume and comprehend.
		button.btn Start learning
	picture.audio__picture
		source(srcset="/img/content/audio.webp" type="image/webp")
		img(src="/img/content/audio.png" alt="Мusic playback" width="474" height="318")