section.dashboard.container
	.dashboard__info
		h2.dashboard__title Become a //super// learner
		p.dashboard__text Upword believes that reading efficiently is a superpower. Optimize your reading skills, read faster and understand what you need.
		button.btn Start learning
	picture.dashboard__picture
		source(srcset="img/content/dashbord.webp" type="image/webp")
		img(src="img/content/dashbord.png" alt="Main dashboard" width="770" height="504").dashbord__img