section.excerpt
	.container.excerpt__container
		picture.excerpt__picture
			source(srcset="img/content/actively.webp" type="image/webp")
			img(src="img/content/actively.png" alt="Мain excerpt" width="562" height="377").excerpt__img
		.excerpt__info
			h2.excerpt__title Learn //actively//
			p.excerpt__text Upword transforms reading into a fully interactive learning experience. Highlight, take key notes, translate unfamiliar words and add important comments to reduce friction, maximize comprehension, and improve reading efficiency.
			button.btn Start learning