section.library
	.library__info 
		h2.library__title Your { new } knowledge library
		p.library__text Every article you upload to Upword is securely stored in your personal library, for life. Create folders and reading lists, tag content and share articles with friends to keep your lifelong knowledge managed and in control.
		button.btn Start learning
	ul.library__list 
		li.library__item
			picture.library__picture 
				source(srcset="/img/content/poster_1.webp" type="image/webp")
				img(src="/img/content/poster_1.png" alt="poster 1" width="254" height="340")
		li.library__item
			picture.library__picture 
				source(srcset="/img/content/poster_2.webp" type="image/webp")
				img(src="/img/content/poster_2.png" alt="poster 2" width="254" height="340")
		li.library__item
			picture.library__picture 
				source(srcset="/img/content/poster_3.webp" type="image/webp")
				img(src="/img/content/poster_3.png" alt="poster 3" width="254" height="340")
		li.library__item
			picture.library__picture 
				source(srcset="/img/content/poster_4.webp" type="image/webp")
				img(src="/img/content/poster_4.png" alt="poster 4" width="254" height="340")
		li.library__item
			picture.library__picture 
				source(srcset="/img/content/poster_5.webp" type="image/webp")
				img(src="/img/content/poster_5.png" alt="poster 5" width="254" height="340")
		li.library__item
			picture.library__picture 
				source(srcset="/img/content/poster_5.webp" type="image/webp")
				img(src="/img/content/poster_6.png" alt="poster 6" width="254" height="340")