section.partner
  .container.partner__container
    .partner__info
      h2.partner__title 
        span.partner__title-small Join 
        span.emphasise.emphasise_dark thousands
        | #[br]of students from >> leading >> institutions
      p.partner__text Reading doesn’t have to be intimidating — let Upword turn you into a super learner!

    - let count = 1;  
    ul.partner__list
      while count < 13
        li.partner__item 
          picture.partner__picture
            source(srcset=`img/content/partner_${count}.webp` type="image/webp")
            img(src=`img/content/partner_${count}.png` alt=`partner ${count}` width="74" height="74")
            - count += 1;