section.quotes
  .quotes__container.container
    .quote
      .quote__wrapper
        ul.quote__items
          li.quote__item
            blockquote.quote__blockquote Upword provided me a reliable way to skim, comprehend, and summarize the cases that were so quintessential to my class. I would definitely recommend Upword to anybody who is trying to secure an A and truly understand the material that is in that class."
            footer.quote__footer
              picture 
                source(srcset=`img/content/partner_7.webp` type="image/webp")
                img(src=`img/content/partner_7.png` alt=`partner 7` width="63" height="63")
              .quote__info
                cite.quote__autor Evan
                p.quote__rank Cornell University, Arts and design student
          li.quote__item
            blockquote.quote__blockquote Upword provided me a reliable way to skim, comprehend, and summarize the cases that were so quintessential to my class. I would definitely recommend Upword to anybody who is trying to secure an A and truly understand the material that is in that class."
            footer.quote__footer
              picture 
                source(srcset=`img/content/partner_7.webp` type="image/webp")
                img(src=`img/content/partner_7.png` alt=`partner 7` width="63" height="63")
              .quote__info
                cite.quote__autor Evan
                p.quote__rank Cornell University, Arts and design student
          li.quote__item
            blockquote.quote__blockquote Upword provided me a reliable way to skim, comprehend, and summarize the cases that were so quintessential to my class. I would definitely recommend Upword to anybody who is trying to secure an A and truly understand the material that is in that class."
            footer.quote__footer
              picture 
                source(srcset=`img/content/partner_7.webp` type="image/webp")
                img(src=`img/content/partner_7.png` alt=`partner 7` width="63" height="63")
              .quote__info
                cite.quote__autor Evan
                p.quote__rank Cornell University, Arts and design student
        //- button(class="quote__control quote__control_prev" href="#" type="button" data-slide="prev")
        //- button(class="quote__control quote__control_next" href="#" type="button" data-slide="next")
        .partner__nav
          button(type="button" data-slide="prev").partner__left-turn.quote__control.quote__control_next
            svg(width="36" height="16" )
              use(xlink:href="img/symbols.svg#arraw" data-slide="prev").quote__control.quote__control_next 
          button(type="button" ).partner__right-turn
            svg(width="36" height="16" )
              use(xlink:href="img/symbols.svg#arraw" data-slide="next").quote__control.quote__control_next