<!DOCTYPE html>
html(lang='en')
  - var title = "Upword";
  include common/head.pug
  body.body
    ._wrapper
      - var page = "index";
      include common/header.pug
      main.main
      include common/footer.pug
    script(src="js/main.min.js")
