<!DOCTYPE html>
html(lang='en')
  - var title = "Upword";
  include common/head.pug
  body.body
    ._wrapper
      - var page = "index";
      include common/header.pug
      main.main
        h1.visually-hidden Upwork company 
        include sections/dashboard.pug
        include sections/information.pug
        include sections/audio.pug
        include sections/excerpt.pug
        include sections/library.pug
        include sections/partner.pug
        include sections/quote.pug
      include common/footer.pug
    script(src="js/main.min.js")
