footer.footer 
  .container.footer__container
    .footer__wrapper
      ul.social-list.footer__social 
        li.social-list__item
          a(href="#").social-list__link 
            span.visually-hidden Twitter
            svg(width="25" height="25").social-list__icon
              use(xlink:href="img/symbols.svg#tw") 
        li.social-list__item
          a(href="#").social-list__link
            span.visually-hidden Instagram
            svg(width="25" height="25").social-list__icon
              use(xlink:href="img/symbols.svg#in") 
        li.social-list__item
          a(href="#").social-list__link
            span.visually-hidden Facebook
            svg(width="25" height="25").social-list__icon
              use(xlink:href="img/symbols.svg#fb") 
      nav.nav.nav_color.footer__nav
        ul.nav__list
          li.nav__item
            a(href="#").nav__link About
      .rights.footer__rights
        p.rights__text ©2021 All rights reserved



