head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  meta(name="theme-color" content="#317EFB")
  meta(name="msapplication-TileColor" content="#2b5797")
  meta(name = "keywords" content = "Upwork")
  meta(name="description" content="Upwork - Upwork connects businesses with independent professionals and agencies around the globe.")
  meta(name = "robots" content = "index, nofollow")

  link(type="image/x-icon" href="/favicon.ico" rel="shortcut icon")
  link(type="Image/x-icon" href="/favicon.ico" rel="icon")
  link(rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
  link(rel="manifest" href="/site.webmanifest")
  link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")


  link(rel="preload" href="css/style.min.css" as="style")
  link(rel="preload" crossorigin="anonymous" href="fonts/Inter-Bold.woff2" as="font")
  link(rel="preload" crossorigin="anonymous" href="fonts/Inter-Regular.woff2" as="font")
  link(rel="preload" crossorigin="anonymous" href="fonts/Roboto-Regular.woff2" as="font")
  link(rel='stylesheet' href='css/style.min.css')
  title= title
